
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: lightblue;
    margin: 1rem;
}
img {
    width: 25rem;
    height: 10rem
}
h3 {
    text-align: center;
}
.travel {
    display: flex;
    flex-direction: column;
}
.travel-imgs {
    display: flex;
    justify-content: space-evenly;
}
h4 {
    text-align: center;
}
.wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .media {
    height: 450px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  img {
    margin: 10px;
    max-width: auto;
    height: auto;
    padding: 3rem;
  }
  
  .layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;
  }

  .img__description {
    transition: all 0.9s ease;
  }
  
  p {
    padding: 7px;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
  
  .media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.9s ease;
  }
  
  p {
    transform: scale(1);
    transition: all .9s ease;
  }
  
  /* @media (max-width: 800px){
    body {
      transform: scale(0.6);
    }
  }
  
  @media (max-width: 600px) {
      .wrapper {
      display: block;

    }
  } */